In [103]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

##### get data frame

In [104]:
df=pd.read_csv("drug200.csv")
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

##### convert pandas data to arrahead

In [105]:
x=df[["Age","Sex","BP","Cholesterol","Na_to_K"]]
x=np.asanyarray(x)
y=df[["Drug"]]
y=np.asanyarray(y)

#### convert sex column data and BP and Cholesterol to number data

In [106]:
from sklearn import preprocessing 

sex=preprocessing.LabelEncoder()
sex.fit(['F','M'])
x[:,1]=sex.transform(x[:,1])

bp = preprocessing.LabelEncoder()
bp.fit([ 'LOW', 'NORMAL', 'HIGH'])
x[:,2] = bp.transform(x[:,2])


chol = preprocessing.LabelEncoder()
chol.fit([ 'NORMAL', 'HIGH'])
x[:,3] = chol.transform(x[:,3]) 

x[0:5]

array([[23, 0, 0, 0, 25.355],
       [47, 1, 1, 0, 13.093],
       [47, 1, 1, 0, 10.114],
       [28, 0, 2, 0, 7.798],
       [61, 0, 1, 0, 18.043]], dtype=object)

#### train and test data

In [117]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=4)

#### model tree

In [118]:
model=DecisionTreeClassifier(criterion="entropy", max_depth = 4)
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=4)

# predict data

In [121]:
y_predict_test=model.predict(x_test)

### accuracy predict

In [123]:
from sklearn import metrics
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_test, y_predict_test))

DecisionTrees's Accuracy:  0.95